// Color Swatches: tint is with 40%

$blue-color: #23A2bF;
$navy-color: #173C5C;
$grey-color: #465461;
$yellow-color: #ECA84b;
$red-color: #D72E2D;
$orange-color: #F5821F;
$green-color: #6DCE94;
$white-color: #F5F7F7;

